.modal {
    position: fixed;
    top: 10vh;
    left: 10vw;
  
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
    padding: 2rem;
    border-radius: var(--border-rounded);
  
    background-color: var(--color-white);
  
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
  
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--color-gray-300);
  
      &__title {
        font-size: 2rem;
      }
      &__icon {
        transition: all 250ms ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    &__body {
      flex-grow: 1;
      overflow-y: auto;
    }
    &__footer {
      flex-shrink: 0;
      button {
        margin-right: 1rem;
      }
    }
  
    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  
      background-color: var(--color-gray-800-25);
    }
  }