.no-match {
    display: flex;
    align-items: center;
    &__img {
      width: 20rem;
      margin-right: 5rem;
    }
    &__title {
      font-size: 4rem;
    }
    &__desc {
      font-size: 2rem;
    }
  }
  