* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Delicious Handrawn", cursive;
}

:root {
  //colors
  --color-white: #fff;
  --color-black: #333;
  --color-red-500: #c0392b;
  --color-green-500: #27ae60;
  --color-blue-500: #3498db;
  --color-orange-500: #c28a4e;

  //border
  --border-rounded: 0.5rem;
}

@import "./components/btn.scss";
@import "./components/container.scss";
@import "./components/devider.scss";
@import "./components/header.scss";
@import "./components/input.scss";
@import "./components/sidebar.scss";
