.progresspage {
    &__btns {
      margin-top: 1rem;
      & > button {
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__docs {
      margin-bottom: 2rem;
      max-width: 40rem;
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
  